<div class='masthead'>

<ul class='language-nav'>
    <a id="first" href=""><li>CSS</li></a>
    <a href=""><li>HTML</li></a>
    <a href=""><li>Javascript</li></a>
    <a href=""><li>Ruby</li></a>
</ul>  
 
<img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times">


 <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li class="underlined">Today’s Paper</li>
    <li class="underlined">Video</li>
    <button><li>77°F</li></button>
    <button><li class="noborder">AAO <strong>+100%</strong></li></button>
</ul>  

</div>
