<nav class="sections-side-nav" id="sections-sidebar">
<ul class="sections">

<li>World</li>
<li class="dropdown">San Francisco</li>
 <li class="dropdown">Students
 <ul>
    <li>Teaching Assistants</li>
    <li>Instructors</li>
    <li>Career Advisors</li>
    <li>Cats</li></ul></li> 
 <li class="dropdown">New York</li> 
 <li class="dropdown">Bootcamp Prep
<ul>    <li>Students</li>
    <li>Instructors</li>
    <li>Cats</li></ul></li> 
 <li class="dropdown">Jumpstart</li> 
 <li class="dropdown">Online
<ul>  <li>Immersive</li>
    <li>Bootcamp Prep</li> 
    <li>Cats</li></ul></li> 
 <li class="dropdown">Marketing</li> 
 <li class="dropdown">Sales
<ul><li>Associates</li> 
    <li>Analytics</li>
    <li>Cats</li></ul> 
 <li class="dropdown">TalentMatch</li></li> 
 <li class="dropdown">Alumni
<ul><li>Students</li> 
    <li>Companies</li>
    <li>Opinions</li>
    <li>Cats</li></ul></li> 
 <li class='all'>All</li> 

</ul>



</nav>







