<nav class="sections-nav">
<ul class="sections">

<a><li>World</li></a>
<a><li>San Francisco</li></a>
<a><li>New York</li></a>
<a><li>Bootcamp Prep</li></a>
<a><li>Jumpstart</li></a>
<a><li>Online</li></a>
<a><li>Marketing</li></a>
<a><li>Sales</li></a>
<a><li>TalentMatch</li></a>
<a><li>Alumni</li></a>
<a><li class='all'>All</li></a>

</ul>



</nav>








